body {
	background-color: #959595;
	font-family: "Goddess of Fortune", Arial, Helvetica, sans-serif;
	font-size: 1em;
	line-height: 130%;
	max-width: 100%;
	margin: 1%;
}

.container {
	max-width: 100%;
	background-color: #959595;
	margin: 0 auto;
	padding: 2.5%;
}

header {
	margin-bottom: 6%;
	line-height: 75%;
	font-size: 1.75em;
	color: #030303;
	height: 10%;
}

.left_head {
	float: left;
}

.right_head {
	float: right;
}

section {
	font: Helvetica;
	float: right;
}

h1 {
	font-weight: 700;
	color: #030303;
	font-size: 2em;
	width: 100%;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	margin: 5% 0;
	border-bottom: 2px solid #7accc8;
}

h3 {
	font-weight: 400;
	color: #030303;
	font-size: 1.5em;
	text-decoration: underline;
	margin-left: 2%;
}

p {
	font-size: 1.2em;
	font-weight: normal;
	color: #030303;
}

ul {
	margin-left: 2%;
	list-style-type: square;
	line-height: 175%;
	color: #0054a6;
}

li {
	font-size: 1em;
	font-weight: normal;
	color: #030303;
}

strong {
	-web-font-weight: 700;
	font-size: 1em;
	color: #0054a6;
}

#build {
	margin-left: 2%;
	font-size: 1.125em;
}

.build {
	line-height: 140%;
}

#vista {
	margin-left: 2%;
	font-size: 1.125em;
}

.vista {
	line-height: 140%
}

#uprint {
	margin-left: 2%;
	font-size: 1.125em;
}

.uprint {
	line-height: 140%;
}

.competition {
	margin-top: 2%;
	margin-bottom: 5%;
}

#male {
	margin-left: 2%;
	font-size: 1.25em;
}

.male {
	line-height: 140%;
	margin-bottom: 5%;
}

#female {
	margin-left: 2%;
	font-size: 1.25em;
}

.female {
	line-height: 140%;
}

@media screen and (min-width: 768px) and (max-width: 959px){
}

@media only screen and (min-width: 480px) and (max-width: 767px){

	header {
		font-size: 1em;
	}
	
	h1 {
		font-size: 1.5em;
	}
}

@media only screen and (max-width: 479px){
	
	body {
		border: .5em solid #565a5a;
	}
	
	.container {
		border: none;
	}
	
	header {
		font-size: 1em;
		line-height: 130%;
		margin-bottom: 20%;
	}
	
	h1 {
		font-size: 1.5em;
	}
	
	h3 {
		margin: 20% 0% 5% 0%;
	}
	
	ul {
		margin: 1% 1% 1% -7%;
	}
	
}